body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
}

.dashboard {
    width: 20%;
    background-color: #4CAF50; 
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.dashboard h1 {
    margin-bottom: 20px;
    font-size: 25px;
}

.dashboard nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.dashboard nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px;
    transition: background-color 0.3s ease;
}

.dashboard nav a:hover {
    background-color: #388e3c; 
}

.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.right-column {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    background: url('../images/image1.jpg') center/cover no-repeat;
}

.content {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    appearance: none;
}

input[type="submit"] {
    background-color: #4CAF50; 
    color: #fff;
    cursor: pointer;
    padding: 12px 22px; 
    border: none;
    border-radius: 3px; 
}

input[type="submit"]:hover {
    background-color: #388e3c;
}

.back-btn {
    color: #4CAF50;
    cursor: pointer;
    font-size: 20px;
    display: inline-block; 
    margin-bottom: 10px;
}


.logout-btn {
    position: absolute;
    top: 30px;
    right: 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 3px;
    padding: 12px 22px;
}

.logout-btn:hover {
    background-color: #388e3c;
}
